.row {
background-color: lightblue;
  align-items: flex-start;
}

.mainn {
display: flex;
justify-content: space-between;
  margin-top:10px;
}
#left {
  flex: 0.33;
  min-height: 250px;
}

#middle {
  flex: 0.33;
}
#right {
  flex:0.33;
}


