.row {
background-color: lightblue;
  align-items: flex-start;
  border:1px solid lightcoral;

}

.mainn {
display: flex;
justify-content: space-between;
margin-top:10px;
}
#left {
  flex: 0.33;
  min-height: 350px;
}

#middle {
  flex: 0.33;
}
#right {
  flex:0.33;
}
.card {
  width: 50px;
  height: 200px;
  border: 1px solid #ccc;
}

position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:500px
  height: 500px
  z-index: 9999;



tr {
  background-color:whitesmoke;
   border:2px solid blue;
  
}
table {
  background-color:yellow;
}
