.row {
background-color: lightblue;
  align-items: flex-start;
  border:1px solid lightcoral;

}

.mainn {
display: flex;
justify-content: space-between;
margin-top:10px;
}
#left {
  flex: 0.33;
  min-height: 350px;
}

#middle {
  flex: 0.33;
}
#right {
  flex:0.33;
}
.card {
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
}

.card.maximized {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
